*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #023e7d;
    color: #fff;
}
.container{
    width: 80%;
    max-width: 700px;
    margin: 10rem;
}
.container h1{
    font-size: 50px;
    color:#f72585 ;
    margin-bottom: 30px;
    padding: 10px;
    border-bottom: 3px solid #f72585;

}
.password-sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 10px;
    
}
#password{
    border: 0;
    outline: none;
    padding: 10px 20px;
    font-size: 25px;
    margin: 5px;
    
}
.password-sec img{
    margin-right: 15px;
                
}
.container button{
    font-size: 25px;
    margin-top: 15px;
    padding: 10px;
    border-radius: 8px;
    background-color: #008000;
    color: #fff;
    border: none;
}